.noteContainer{
	background-color:lightblue;
}

.noteDiv{
	border:gray outset 2px;
	position:absolute; 	
	background-color:lightyellow;
}

.delete{
	height:30px; 
	right:0px; 
	position:absolute; 		
}

.delete > img{
	width:25px;
	height:20px;
	padding-right:5px;
}


.noteTitle{
	height:30px; 
	border-bottom: gray solid 1px;
	width:100%;
	position:absolute; 	
}


.noteTitle > .title{
	width: calc(100% - 40px);
	display: inline;
}

.noteContents{
	padding-top: 30px;
	height:calc(100% - 30px); 
	width:100%
}